@model MusicStore.Models.ArtistViewModel

@{
    ViewBag.Title = "CreateArtist";
}

<h2>CreateArtist</h2>

<form method="post" action="CreateArtist">
    <input type="text" name="Name" placeholder="Insert name" />
    <br />

    <input type="submit" value="Add" />
</form>