@model IEnumerable<DAL.Genre>
@{
    ViewBag.Title = "AddAlbum";
}

<h2>AddAlbum</h2>
<form>
    Title: <input type="text" name="txtTitle" />
    <br />
    Price: <input type="text" name="txtTitle" />
    <br />
    AlbumURL: <input type="text" name="txtTitle" />
    <br />
    SongURL: <input type="text" name="txtTitle" />
    <br />
    Release date: <input type="text" name="txtTitle" />
    <br />

    Genre: <select name="dpdownGenre">
    @foreach (DAL.Genre genre in Model.GetAllGenres())
        <option value="2">2.0GHz</option>

    </select> />
    <br />

    Artist: <select name="dpdownArtist">
        <option value="2">2.0GHz</option>
        <option value="1">1.0GHz</option>
        <option value="3">3.0GHz</option>
    </select> />
    <br />




    <input type="submit" />

</form>


