@model MusicStore.Models.AlbumViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">

    <tr>
        <th>ID</th>
        <th>Album name</th>
    </tr>
    <tbody>
        @foreach (DAL.Album album in Model.AllAlbums)
        {
            <tr>
                <td>
                    @album.id
                </td>
                <td>
                    @album.title
                </td>
            </tr>
        }

    </tbody>
</table>
<form action="/Album/CreateAlbum">
    <input type="submit" value="Add" />
    </form>
