
@{
    ViewBag.Title = "CreateGenre";
}

<h2>CreateGenre</h2>

<form action="CreateGenre" method="POST">
    <input type="text" placeholder="Insert genre" name="Name" />
    <input type="submit" value="Add"/>
</form>

